<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Page</title>
    </head>
    <body>
        {{> pageTitle}}
        <p>{{content}}</p>
        {{> footer}}
    </body>
</html>